html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: #e0d1dc;
  font-family: "VT323", monospace;
}
.center {
  text-align: center;
  margin-top: 1rem;
}
.container-main {
  text-align: center;
  width: 80rem;
  margin: 0 auto;
}

.logo {
  width: 130rem;
}

.logo:hover {
  transform: rotate(-3deg) scale(1.2);
}

.container-intro p {
  font-size: 3.6rem;
}

.start-game {
  width: 26rem;
  margin-top: 5rem;
  transition: all 0.2s;
}

.start-game:hover {
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.start-game:active {
  transform: translateY(2rem);
  transform: scale(0.8);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
}

.choice-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.choice {
  width: 20rem;
  transition: all 0.2s;
}

.choice:hover {
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.choice:active {
  transform: translateY(2rem);
  transform: scale(0.8);
}

.heading-choice {
  font-size: 4rem;
  color: #e57b7b;
}

.computer-choice-box {
  display: flex;
  flex-direction: column;
}

.user-choice-box {
  display: flex;
  flex-direction: column;
}

.choice-display {
  font-size: 3rem;
  color: #d25959;
  height: 3rem;
}

.result-box {
  display: flex;
  width: 70rem;
  height: 6rem;
  background-color: #eedeea;
  margin: 0 auto;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #d25959;
}

.container-after-start p {
  font-size: 5rem;
  margin-top: -4rem;
  margin-bottom: 2rem;
}
.score-box {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
}

.score {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
}

.score-heading {
  font-size: 5rem;
  color: #a73c3c;
  display: inline-block;
}

.score-display {
  font-size: 5rem;
  margin-top: -2rem;
}

.container-after-start {
  display: none;
  width: 70rem;
  margin: 0 auto;
}

.game-over {
  display: none;
  font-size: 3.6rem;
  margin: 0 auto;
  width: 80rem;
  text-align: center;
}
